{% extends 'base.html.twig' %}

{% trans_default_domain 'sh4bang_user' %}

{% form_theme form '@Sh4bangUser/form/fields.html.twig' _self %}

{% block body %}
    <h1>{{ 'form.forgot.title'|trans() }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
