{% extends 'base.html.twig' %}

{% trans_default_domain 'sh4bang_user' %}

{% block body %}
    <h1>{{ 'form.reset_pwd.title'|trans() }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
