{% extends '@Sh4bangUser/emails/base.html.twig' %}

{% trans_default_domain 'sh4bang_user' %}

{% block subject %}
    {{ 'email.change_password.subject'|trans() }}
{% endblock %}

{% block body_text %}
    {% if password is null %}
        {{ 'email.change_password.body.text'|trans() }}
    {% else %}
        {{ 'email.change_password.body.text2'|trans({'%pwd%': password}) }}
    {% endif %}
{% endblock %}

{% block body_html %}
    {% if password is null %}
        <p>{{ 'email.change_password.body.text'|trans() }}</p>
    {% else %}
        <p>{{ 'email.change_password.body.text2'|trans({'%pwd%': password}) }}</p>
    {% endif %}
{% endblock %}
