{% extends '@Sh4bangUser/emails/base.html.twig' %}

{% trans_default_domain 'sh4bang_user' %}

{% block subject %}
    {{ 'email.reset_pwd.subject'|trans() }}
{% endblock %}

{% block body_text %}
    {{ 'email.reset_pwd.body.text'|trans() }} {{ resettingUrl }}
{% endblock %}

{% block body_html %}
    {{ 'email.reset_pwd.body.text'|trans() }}<a href="{{ resettingUrl }}">{{ 'email.reset_pwd.body.link_label'|trans() }}</a>
{% endblock %}
